body {
	margin: 0px;
}

#header {
	text-align: center;
}

#logo {
	width: 250px;
	height: auto;
}
#menu-bar {
	text-align: center;
	background-color: rgb(69, 106, 12);
}

li {
	display: inline-block;
	padding: 15px 80px;
	font-size: 20px;
	font-weight: bold;
	color: aliceblue;
}

#container {
	text-align: center;
	padding: 50px 100px;
}
#aboutimg {
	width: 100%;
	height: auto;
}
p {
	text-align: justify;
}

.sticky {
	position: fixed;
	width: 100%;
	top: 0px;
}
